#Visual Studio Auto Generated Junk
.vs/
bin/
obj/
IV_Gallery_Checkers_Core/.vs/
IV_Gallery_Checkers_Core/bin/
IV_Gallery_Checkers_Core/obj/
IV_Gallery.pdb
IV_Gallery_Checkers_Core.pdb
IV_Gallery.exe.config