#Visual Studio Auto Generated Junk
.vs/
bin/
obj/
IV_Gallery_Checkers_Core/.vs/
IV_Gallery_Checkers_Core/bin/
IV_Gallery_Checkers_Core/obj/
IV_Gallery.pdb
IV_Gallery_Checkers_Core.pdb
IV_Gallery.exe.config
IV_Sound_Master/.vs/
IV_Sound_Master/bin/
IV_Sound_Master/obj/
IV_Sound_Master.pdb
SharpDX.Desktop.pdb
SharpDX.pdb
SharpDX.Direct3D11.pdb
SharpDX.DXGI.pdb
SharpDX.Desktop.xml
SharpDX.Direct3D11.xml
SharpDX.DXGI.xml
SharpDX.Mathematics.pdb
SharpDX.Mathematics.xml
IV_Gallery_GIT_Release
